- project_id = project[0]
- project_data = project[1]

%li
  = link_to project_data['url'] do
    %header
      = image_tag "open-source/#{project_id}.png", class: 'icon'
      %h4= project_data['name']
    .meta-data
      %span.fa.fa-star 99
      %span.fa.fa-code-fork 99

    %p= project_data['description']
