---
title: Holidays - Diacode
description: Tool for managing Diacode's team holidays.
body_class: open-source open-source-project holidays
---

%header#main_header
  .container
    .welcome
      = image_tag "open-source/holidays/icon.png", class: 'icon'
      %h1 Holidays
      %h2 Managing holidays in a remote team
      .meta-data.project{data: {repo: 'diacode/holidays'}}
        %span.fa.fa-star.stars 0
        %span.fa.fa-code-fork.forks 0
      = link_to 'https://github.com/diacode/holidays', class: 'ghost' do
        %span.fa.fa-github
        Get source code
      .technologies
        Ruby on Rails, HAML, CoffeeScript, SASS, React, Flux, Marty.js

%section.main-section
  .container
    %p
      As a remote and distributed team, when it comes to takes days off, we have to deal with multiple national and local holidays calendars. As our team grew this quickly
      become a nightmare. To tackle this problem we finally decided to build a little app that nowadays takes care of all our holidays.

    %p
      Thanks to our Holidays app, requesting a few days off is as simple as login into Holidays and create a holidays request. When it's done, we got a Slack notification
      so that our CEO can review the request and accept it or reject it. All notifications are public so that every team can see when someone will be off.

    %p
      = image_tag 'open-source/holidays/signin.png', class: 'screenshot laptop'

    %p
      In addition , Holidays help all of us keeping track of how many holidays we have left. All this information is transparent for the whole team: if someone is not tacking enough days off, we'll push him to do so!


%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/holidays/team.png', class: 'screenshot'

%section.main-section
  .container
    %p
      This project also served us as our firt experiment combining Rails with #{link_to "Marty", "http://martyjs.org/", target: "_blank"} and #{link_to "Webpack", "http://webpack.github.io/", target: "_blank"}. We liked this approach so much that now has become our default stack for building single page apps.

    %p
      We created a React calendar from scratch that served as the foundation of another open source project: #{link_to "Rdpicker", "http://diacode.github.io/rdpicker/", target: "_blank"}.

%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/holidays/request.png', class: 'screenshot'

%section.main-section
  .container
    %p
      The public calendar allow us to easily check who will be off in the incoming months, which is key for planning projects with our clients.

    %p
      If you think Holidays could help your team, go ahead and #{ link_to "clone the repo", "https://github.com/diacode/holidays"} now! We're looking forward to seeing other teams taking advantage of Holidays.

%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/holidays/calendar.png', class: 'screenshot'


