---
title: Holidays - Diacode
description: Tool for managing Diacode's team holidays.
body_class: open-source project holidays
---

%header#main_header
  .container
    .welcome
      = image_tag "open-source/holidays/icon.png", class: 'icon'
      %h1 Holidays
      %h2 Managing holidays in a remote team
      .meta-data
        %span.fa.fa-star.stars 0
        %span.fa.fa-code-fork.forks 0
      = link_to 'https://github.com/diacode/holidays', class: 'ghost' do
        %span.fa.fa-github
        Get source code
      .technologies
        Ruby on Rails, HAML, CoffeeScript, SASS, React, Flux, Marty.js

%section.main-section
  .container
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat debitis iure accusamus non in vero molestias quia, voluptatem, ex facilis cumque optio ullam maiores alias aliquam quam voluptatum voluptatibus, veniam!

%section.main-section
  .container
    = image_tag 'open-source/holidays/signin.png', class: 'screenshot'

%section.main-section.screenshot-section
  .container

    = image_tag 'open-source/holidays/team.jpg', class: 'screenshot'

%section.main-section
  .container
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. An haec ab eo non dicuntur? Ait enim se, si uratur, Quam hoc suave! dicturum. Nihilo beatiorem esse Metellum quam Regulum. An potest, inquit ille, quicquam esse suavius quam nihil dolere? Quod non faceret, si in voluptate summum bonum poneret. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. Duo Reges: constructio interrete. Eadem nunc mea adversum te oratio est.

%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/holidays/request.jpg', class: 'screenshot'

%section.main-section
  .container
    %p Amicitiam autem adhibendam esse censent, quia sit ex eo genere, quae prosunt. Esse enim quam vellet iniquus iustus poterat inpune. Quam nemo umquam voluptatem appellavit, appellat; Multoque hoc melius nos veriusque quam Stoici. Atque his de rebus et splendida est eorum et illustris oratio. Istam voluptatem perpetuam quis potest praestare sapienti? Bestiarum vero nullum iudicium puto. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;

%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/holidays/calendar.jpg', class: 'screenshot'


