---
title: Picks - Diacode
description: Tool for building link compilations and distributing them.
body_class: open-source open-source-project picks
---

%header#main_header
  .container
    .welcome
      = image_tag "open-source/picks/icon.png", class: 'icon'
      %h1 Picks
      %h2 Building link compilations and distributing them
      .meta-data.project{data: {repo: 'diacode/picks-api'}}
        %span.fa.fa-star.stars 0
        %span.fa.fa-code-fork.forks 0
      = link_to 'https://github.com/diacode/picks', class: 'ghost' do
        %span.fa.fa-github
        Get source code
      .technologies
        Ruby on Rails, HAML, CoffeeScript, SASS, React, Flux, Marty.js

%section.main-section
  .container
    %p Managing picks for a remote team is not an easy task so we decided to create a tool to help us.

%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/picks/slack.png', class: 'screenshot'

%section.main-section
  .container
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. An haec ab eo non dicuntur? Ait enim se, si uratur, Quam hoc suave! dicturum. Nihilo beatiorem esse Metellum quam Regulum. An potest, inquit ille, quicquam esse suavius quam nihil dolere? Quod non faceret, si in voluptate summum bonum poneret. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. Duo Reges: constructio interrete. Eadem nunc mea adversum te oratio est.

%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/picks/approved.png', class: 'screenshot'

%section.main-section
  .container
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. An haec ab eo non dicuntur? Ait enim se, si uratur, Quam hoc suave! dicturum. Nihilo beatiorem esse Metellum quam Regulum. An potest, inquit ille, quicquam esse suavius quam nihil dolere? Quod non faceret, si in voluptate summum bonum poneret. Cum autem in quo sapienter dicimus, id a primo rectissime dicitur. Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. Duo Reges: constructio interrete. Eadem nunc mea adversum te oratio est.

%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/picks/pending.png', class: 'screenshot'

%section.main-section
  .container
    %p Amicitiam autem adhibendam esse censent, quia sit ex eo genere, quae prosunt. Esse enim quam vellet iniquus iustus poterat inpune. Quam nemo umquam voluptatem appellavit, appellat; Multoque hoc melius nos veriusque quam Stoici. Atque his de rebus et splendida est eorum et illustris oratio. Istam voluptatem perpetuam quis potest praestare sapienti? Bestiarum vero nullum iudicium puto. Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;

%section.main-section.screenshot-section
  .container
    = image_tag 'open-source/picks/compilations.png', class: 'screenshot'


