---
title: Contact Us - Diacode
description: Diacode is a Ruby on Rails shop. Contact us and tell us about your next project.
body_class: contact
---
%header#main_header
  .container
    .welcome
      %h1 Interested in working with us, joining our team, or just want to know more about us? We'd love to hear from you.

%section#contact_section.main-section
  .container
    .contact_note
      %p
        Starting October 2016, 
        = link_to "we are taking a break", blog_url_for("/we-are-taking-a-break")
        and we are 
        %strong not accepting any new projects.
        However you can still contact us for any other matter and we'll be happy to chat with you.
    .form-wrapper
      %form{action: "//formspree.io/hello@diacode.com", method: 'post'}
        = input_tag :hidden, name: '_next', value: '//diacode.com/contact/thanks'
        .field
          = input_tag :text, placeholder: 'What is your name?', name: 'name'
        .field
          = input_tag :text, placeholder: 'What is your email?', name: 'email'
        .field
          %textarea{placeholder: 'Tell us a little bit about your project', rows: '10', name: 'description'}
        .field
          = input_tag :text, placeholder: 'What is your budget?', name: 'budget'

        .actions
          %button{type: 'submit', onClick: "ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Sent Contact Form', eventLabel: 'Contact Form'});"} Drop the bomb!

  .container
    %p
      If you don't like contact forms, you can always reach us by email too: <br/>
      %strong hello [at] diacode.com

