- project_id = project[0]
- project_data = project[1]

%section.main-section.project
  .container
    %header
      = image_tag "/images/projects/#{project_id}/logo.png", class: 'logo'
      
    %p= project_data['description']

    .call-to-action
      = link_to 'Visit website', project_data['site_url'], target: '_blank'

    = image_tag "/images/projects/#{project_id}/screenshot.png", class: 'screenshot'

